@model WeddingPlanningReport.Models.Cars

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div style="text-align: left;">
    <img src="~/Car1/@Model.CarImg" alt="Car Image" class="img-fluid" style="max-width: 300px; height: auto;" />
</div>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShopId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShopId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PassengerCapacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PassengerCapacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RentalPerDay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RentalPerDay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarImg)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarImg)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarDetail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarDetail)
        </dd>
    </dl>
</div>
<div>
    @*     <a asp-action="Edit" asp-route-id="@Model?.CarId">Edit</a> | *@
    <a asp-action="Index">Back to List</a>
</div>
