@model WeddingPlanningReport.Models.SharingWeddingPlan
@* @section Styles
{
    <style>
    </style>
} *@

<h4>計劃書共享發佈管理</h4>
<hr />
<dl>
    <dt>
        @Html.DisplayNameFor(model => model.CaseId)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.CaseId)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.SharedTime)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.SharedTime)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.SharedName)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.SharedName)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.SharedStatus)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.SharedStatus)
    </dd>
</dl>


