@model WeddingPlanningReport.Models.WeddingPlan

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<div >
    <hr />
<h5>是否確定刪除這份婚禮計劃書?</h5>
    <div id ="Deleteview">
    <hr />
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberId)
                @Html.DisplayFor(model => model.MemberId)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeddingName)
                @Html.DisplayFor(model => model.WeddingName)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeddingTime)
                @Html.DisplayFor(model => model.WeddingTime)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeddingLocation)
                @Html.DisplayFor(model => model.WeddingLocation)
        </div>

        <hr />
    <form asp-action="Delete" id="formDelete">
        <input type="hidden" asp-for="CaseId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>
</div>