@model WeddingPlanningReport.Models.WeddingPlan

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WeddingPlan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeddingName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeddingName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Introduction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Introduction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeddingTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeddingTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeddingLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeddingLocation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CaseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
