@model IEnumerable<WeddingPlanningReport.Models.WeddingPlan>

@section Styles {
    <link href="~/lib/datatables/css/jquery.datatables.min.css" rel="stylesheet" />
    <link href="~/css/btn18settype.min.css" rel="stylesheet" />
    <style>
        .modal-body{
            padding-top:0;
        }
        .detail-btn{
            background-color: #9271AC;
        }
        .button-18{
            background-color: #ffffff;
            color: #62536F;
        }

        .dataTables_filter {
            margin-bottom:15px;
        }
    </style>
}

<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../assets/"
      data-template="vertical-menu-template-free">
<head>

</head>

<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Layout container -->
            <div class="layout-page">
                <!-- Navbar -->
                <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                     id="layout-navbar">
                    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                            <i class="bx bx-menu bx-sm"></i>
                        </a>
                    </div>
                    <!-- header start  -->
                    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb py-1 mb-0 mt-2">
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">婚禮計劃書管理</li>
                            </ol>
                            <div class="row d-block">
                                <h5 class="currentPage">婚禮計劃書管理</h5>
                            </div>
                        </nav>

                        <ul class="navbar-nav flex-row align-items-center ms-auto">
                            <!-- User -->
                            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                                    <div class="avatar avatar-online">
                                        <img src="../assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar avatar-online">
                                                        <img src="../assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <span class="fw-semibold d-block">登入者姓名</span>
                                                    <small class="text-muted">Admin</small>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <i class="bx bx-user me-2"></i>
                                            <span class="align-middle">My Profile</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <i class="bx bx-cog me-2"></i>
                                            <span class="align-middle">Settings</span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="login.html">
                                            <i class="bx bx-power-off me-2"></i>
                                            <span class="align-middle">Log Out</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!--/ User -->
                        </ul>
                    </div>
                    <!-- header end  -->
                </nav>

                <!-- / Navbar -->
                <!-- Content wrapper -->
                <div class="container-xxl flex-grow-1 container-p-y">

                    <!--  Table start -->
                    <div class="card">
                        <h4 class="card-header bg-light bg-gradient ">婚禮計劃書</h4>
                        <div id="dash" class="border-top border-bottom"></div>
                        <div class="table-responsive text-nowrap">

                            <p>
                                @* <a asp-controller="WeddingPlans" asp-action="Create">Create New</a> *@
                               
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" id="AddBtn">
                                    <i class="bi bi-plus-lg" ></i> 新增
                                </button>
                            </p>

                            <!-- Modal start-->
                            <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal end -->

                            <table class="table" id="myTable">
                                <thead class="table-primary">
                                    <tr>
                                        <th></th>
                                        <th class="fs-6">
                                            @Html.DisplayNameFor(model => model.MemberId)
                                        </th>
                                        <th class ="fs-6">
                                            @Html.DisplayNameFor(model => model.WeddingName)
                                        </th>
                                        <th class="fs-6">
                                            @Html.DisplayNameFor(model => model.WeddingTime)
                                        </th>
                                        <th class="fs-6">
                                            @Html.DisplayNameFor(model => model.WeddingLocation)
                                        </th>
                                        <th class="fs-6">
                                            @Html.DisplayNameFor(model => model.Introduction)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var weddingplanitem in Model)
                                    {
                                        <tr>
                                            <td>
                                                <a class="btn button-18 fs-6 detail-btn border" asp-controller="WeddingPlans" asp-action="Details" asp-route-id="@weddingplanitem.CaseId">查看活動</a> |
                                                <a class="btn button-18 fs-5 detail-btn border edit-btn" asp-controller="WeddingPlans" asp-action="Edit" asp-route-id="@weddingplanitem.CaseId">✒️</a> |
                                                <a class="btn button-18 fs-5 detail-btn border delete-btn" asp-controller="WeddingPlans" asp-action="Delete" asp-route-id="@weddingplanitem.CaseId">🗑️</a>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => weddingplanitem.MemberId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => weddingplanitem.WeddingName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => weddingplanitem.WeddingTime)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => weddingplanitem.WeddingLocation)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => weddingplanitem.Introduction)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!-- Table end -->
                </div>
                <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>
        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
</body>
</html>

@section Scripts {
    <script src="~/lib/datatables/js/jquery.datatables.min.js"></script>
    <script src="//cdn.datatables.net/fixedheader/3.3.2/js/dataTables.fixedHeader.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myTable").dataTable({
                fixedHeader: {
                    header: true
                },
                language: {
                    url: '//cdn.datatables.net/plug-ins/2.1.5/i18n/zh-HANT.json',
                }
            });

            $('#AddBtn').on('click', function () {
                $('.modal-body').load('/WeddingPlans/Create #formCreate', function () {
                    $('#myModalLabel').text("新增婚禮計劃書");
                    $('#myModal').modal('show');
                    // $(document).off('submit', '#formCreate').on('submit', '#formCreate', function (e) {
                    //     e.preventDefault();
                    //     $.ajax({
                    //         url: $(this).attr('action'),
                    //         type: 'POST',
                    //         data: $(this).serialize(),
                    //         success: function (response){
                    //             if (response.success) {
                    //                 alert("婚禮計劃書創建成功");
                    //                 $('#myModal').modal('hide');
                    //                 location.reload();
                    //             }
                    //             else {
                    //                 alert("請確實填寫必填欄位會員ID及計劃書名稱");
                    //             }
                    //         }
                    //     })
                    // })
                }); // 動態加載內容
            });

        //     $('#myTable').on('click', '.edit-btn', function () {
        //         var id = $(this).data('id');
        //         $('.modal-body').load(`/WeddingPlans/Edit/${id} #formEdit`, function () {
        //             $('#myModalLabel').text("編輯婚禮計劃書");
        //             $('#myModal').modal('show');
        //             $(document).off('submit', '#formEdit').on('submit', '#formEdit', function (e) {
        //                 e.preventDefault();
        //                 $.ajax({
        //                     url: $(this).attr('action'),
        //                     type: 'POST',
        //                     data: $(this).serialize(),
        //                     success: function (response) {
        //                         if (response.success) {
        //                             alert("婚禮計劃書更新成功");
        //                             $('#myModal').modal('hide');
        //                             location.reload();
        //                         }
        //                         else {
        //                             alert("請確實填寫必填欄位會員ID及計劃書名稱");
        //                         }
        //                     }
        //                 })
        //             })

        //         }); 
        //     });

        //     //delete start
        //     $('#myTable').on('click', '.delete-btn', function () {
        //         var id = $(this).data('id');
        //         $('.modal-body').load(`/WeddingPlans/Delete/${id} #Deleteview`, function () {
        //             $('#myModalLabel').text("刪除婚禮計劃書");
        //             $('#myModal').modal('show');
        //             $(document).off('submit', '#formDelete').on('submit', '#formDelete', function (e) {
        //                 e.preventDefault();
        //                 $.ajax({
        //                     url: $(this).attr('action'),
        //                     type: 'POST',
        //                     data: $(this).serialize(),
        //                     success: function (response) {
        //                         if (response.success) {
        //                             alert("婚禮計劃書刪除成功");
        //                             $('#myModal').modal('hide');
        //                             location.reload();
        //                         }
        //                     }
        //                 })
        //             })
        //         });
        //     });
        //     //delete end
        //     //To event start
        //     $('#myTable').on('click', '.detail-btn', function (){
        //         var id = $(this).data('id');
        //         window.location.href = '@Url.Action("Index", "Events")?id=' + id;
        //     //To event end
        // });
    });
    </script>
}



@* "data": "caseId", "render": function (data) {
                            return "<button class='btn button-18 fs-6 detail-btn border' data-id='" + data + "'>查看活動項目</button>" + " " +
                            "<button class='button-18 edit-btn border' data-id='" + data + "' data-bs-toggle='modal' data-bs-target='#myModal'>✒️</button>" + " " +
                                "<button class='button-18 delete-btn border' data-id='" + data + "' data-bs-toggle='modal' data-bs-target='#myModal'>🗑️</button>";
                        }, "orderable": false *@

