@model WeddingPlanningReport.Models.Dish

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="text-align: left;">
    <img src="~/Dish1/@Model.DishesImg" alt="Car Image" class="img-fluid" style="max-width: 300px; height: auto;" />
</div>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShopId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShopId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DishesName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DishesName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PricePerTable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PricePerTable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DishesDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DishesDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DishesImg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DishesImg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DishesSort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DishesSort)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DishesId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
