@model WeddingPlanningReport.Models.MemberMaterial

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MemberMaterial</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberImgName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberImgName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstimatedLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstimatedLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstimatedWidth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstimatedWidth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDelete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDelete)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MemberMaterialId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
