@model WeddingPlanningReport.Models.MemberBudgetItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MemberBudgetItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BudgetItemDetail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BudgetItemDetail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BudgetItemPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BudgetItemPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BudgetItemAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BudgetItemAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BudgetItemSubtotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BudgetItemSubtotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BudgetItemSort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BudgetItemSort)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BudgetItemId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
