@model WeddingPlanningReport.Models.ToDo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ToDo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToDoName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToDoName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToDoDetail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToDoDetail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpiringDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpiringDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precedence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precedence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonInCharge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonInCharge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskSort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskSort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RemindTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RemindTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdditionalData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateToDoTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateToDoTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateToDoTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateToDoTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RepetitiveTask)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RepetitiveTask)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ToDoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
