@model WeddingPlanningReport.Models.Venue

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Venue</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShopId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShopId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VenueFunction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VenueFunction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VenueStyle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VenueStyle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InOurDoor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InOurDoor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VenueName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VenueName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TableCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TableCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuestCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuestCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VenueRentalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VenueRentalPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VenueImg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VenueImg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VenueInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VenueInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailableTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VenueId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
