@model WeddingPlanningReport.Models.BudgetChart

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BudgetChart</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChartType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChartType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChartName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChartName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChartUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChartUnit)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BudgetChartId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
