@model WeddingPlanningReport.Models.ImgUsing
@inject WeddingPlanningContext _content
@{
    ViewData["Title"] = "Delete";
}

@section Styles
{
    <style>
        .modal-body {
            padding-top: 0
        }

        .detail-btn {
            background-color: #9271AC
        }

        .table-responsive {
            width: 1050px;
            margin: auto;
        }
    </style>
}

<!DOCTYPE html>
<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../assets/"
      data-template="vertical-menu-template-free">
<head>

</head>

<body>
    @{
        var imgName = _content.Materials
        .Where(x => x.MaterialId == Model.MaterialId) // 假設這是關聯字段
        .Select(x => x.ImageName)
        .FirstOrDefault();
        if (imgName == null)
        {
            imgName = "noimage.jpg";
        }

        var MemberimgName = _content.MemberMaterials
        .Where(x => x.MemberMaterialId == Model.MemberMaterialId) // 假設這是關聯字段
        .Select(x => x.MemberImgName)
        .FirstOrDefault();
        if (MemberimgName == null)
        {
            MemberimgName = "noimage.jpg";
        }
    }
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Layout container -->
            <div class="layout-page">
                <!-- Navbar -->
                <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                     id="layout-navbar">
                    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                            <i class="bx bx-menu bx-sm"></i>
                        </a>
                    </div>
                    <!-- header start  -->
                    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb py-1 mb-0 mt-2">
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a asp-area="" asp-controller="ImgUsings" asp-action="Index">圖片素材資訊</a></li>
                            </ol>
                            <div class="row d-block">
                                <h5 class="currentPage">刪除</h5>
                            </div>
                        </nav>

                        <ul class="navbar-nav flex-row align-items-center ms-auto">
                            <!-- User -->
                            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                                    <div class="avatar avatar-online">
                                        <img src="../assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar avatar-online">
                                                        <img src="../assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <span class="fw-semibold d-block">登入者姓名</span>
                                                    <small class="text-muted">Admin</small>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <i class="bx bx-user me-2"></i>
                                            <span class="align-middle">My Profile</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <i class="bx bx-cog me-2"></i>
                                            <span class="align-middle">Settings</span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="login.html">
                                            <i class="bx bx-power-off me-2"></i>
                                            <span class="align-middle">Log Out</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!--/ User -->
                        </ul>
                    </div>
                    <!-- header end  -->
                </nav>

                <!-- / Navbar -->
                <!-- Content wrapper -->
                <div class="container-xxl flex-grow-1 container-p-y">
                    <div>
                        <h4>ImgUsing</h4>
                        <hr />
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.EditingImgFileId)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.EditingImgFileId)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.MemberMaterialId)
                            </dt>
                            <dd class="col-sm-10">
                                <img src="@Url.Content("~/圖片與圖層/圖片/會員提供圖/" + MemberimgName)" alt="Image" width="200px" height="auto" />
                                @* @Html.DisplayFor(model => model.MemberMaterialId) *@
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.MaterialId)
                            </dt>
                            <dd class="col-sm-10">
                                <img src="@Url.Content("~/圖片與圖層/圖片/網站/" + imgName)" alt="Image" width="200px" height="auto" />
                                @* @Html.DisplayFor(model => model.MaterialId) *@
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.ImgX)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.ImgX)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.ImgY)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.ImgY)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.ImgW)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.ImgW)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.ImgH)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.ImgH)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.IsDelete)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.IsDelete)
                            </dd>
                        </dl>

                        <form asp-action="Delete">
                            <input type="hidden" asp-for="ImgUsingId" />
                            <input type="submit" value="Delete" class="btn btn-danger" />
                            <a asp-controller="EditingImgFiles" asp-action="Index" class="btn btn-primary">Back to List</a>
                        </form>
                    </div>
                </div>
                <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>
        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
</body>
</html>
