@model WeddingPlanningReport.Models.ImgUsing

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ImgUsing</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EditingImgFileId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EditingImgFileId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberMaterialId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberMaterialId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaterialId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImgX)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImgX)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImgY)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImgY)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImgW)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImgW)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImgH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImgH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDelete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDelete)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ImgUsingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
