@model WeddingPlanningReport.Models.Member

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastLoginTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastLoginTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Birthday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preference)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VerifyByEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VerifyByEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeddingStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeddingStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MemberId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
