@model WeddingPlanningReport.Models.ComplaintReview

<h4>審核舉報管理</h4>
<hr />
<dl>
    <dt>
        @Html.DisplayNameFor(model => model.ReporterMemberId)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.ReporterMemberId)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.SharedRecordId)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.SharedRecordId)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.ReportDetail)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.ReportDetail)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.ReportTime)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.ReportTime)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.ReviewStatus)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.ReviewStatus)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.ReviewTime)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.ReviewTime)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.ReviewResultDescription)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.ReviewResultDescription)
    </dd>
</dl>



