@model WeddingPlanningReport.Models.ComplaintReview

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ComplaintReview</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReporterMemberId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReporterMemberId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RespondentMemberId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RespondentMemberId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReportTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReportTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReportDetail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReportDetail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewResultDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewResultDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ComplaintRecordId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
