@model WeddingPlanningReport.Models.DishesOrder

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DishesOrder</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DishesOrderName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DishesOrderName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DishesSupplyDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DishesSupplyDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DishesTotalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DishesTotalPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DishesOrderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
