@model IEnumerable<WeddingPlanningReport.Models.EditingImgFile>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MemberId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EditTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Screenshot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImgEditingName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MemberId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Screenshot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImgEditingName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EditingImgFileId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EditingImgFileId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EditingImgFileId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
