@model WeddingPlanningReport.Models.CakeOrderDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CakeOrderDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CakeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CakeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CakeOrderId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CakeOrderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CakePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CakePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CakeAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CakeAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CakeSubtotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CakeSubtotal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CakeOrderDetailId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
