@model IEnumerable<WeddingPlanningReport.Models.Cake>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../assets/"
      data-template="vertical-menu-template-free">
<head>

</head>

<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Layout container -->
            <div class="layout-page">
                <!-- Navbar -->
                <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                     id="layout-navbar">
                    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                            <i class="bx bx-menu bx-sm"></i>
                        </a>
                    </div>
                    <!-- header start  -->
                    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb py-1 mb-0 mt-2">
                                <li class="breadcrumb-item"><a href="./Home.html">Home</a></li>
                                <li class="breadcrumb-item"><a href="">上層頁面名稱(若無可刪)</a></li>
                                <li class="breadcrumb-item active" aria-current="page">首頁</li>
                            </ol>
                            <div class="row d-block">
                                <h5 class="currentPage">首頁</h5>
                            </div>
                        </nav>

                        <ul class="navbar-nav flex-row align-items-center ms-auto">
                            <!-- User -->
                            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                                    <div class="avatar avatar-online">
                                        <img src="../assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar avatar-online">
                                                        <img src="../assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <span class="fw-semibold d-block">登入者姓名</span>
                                                    <small class="text-muted">Admin</small>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <i class="bx bx-user me-2"></i>
                                            <span class="align-middle">My Profile</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <i class="bx bx-cog me-2"></i>
                                            <span class="align-middle">Settings</span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="login.html">
                                            <i class="bx bx-power-off me-2"></i>
                                            <span class="align-middle">Log Out</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!--/ User -->
                        </ul>
                    </div>
                    <!-- header end  -->
                </nav>

                <!-- / Navbar -->
                <!-- Content wrapper -->
                <div class="container-xxl flex-grow-1 container-p-y">

                    <!--  Table start -->
                    <div class="card">
                        <h5 class="card-header bg-light bg-gradient ">表格標題</h5>
                        <div class="table-responsive text-nowrap">
                            <div style="margin-left:20px">
                                <h1>喜餅管理</h1>

                            </div>
                            <p>
                                <a asp-action="Create" class="btn btn-success">新增</a>
                            </p>
                            <table class="table table-hover">
                                <thead class="table-primary ">
                                    <tr>
                                        <th>
                                            編輯
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ShopId)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CakeStyles)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CakeName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CakeImg)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CakeDescription)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CakePrice)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CakeStatus)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CakeStock)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CakeAnnotation)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.AllergenInfo)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CakeContent)
                                        </th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.CakeId" class="btn btn-primary btn-sm">編輯</a>
                                                <a asp-action="Details" asp-route-id="@item.CakeId" class="btn btn-info btn-sm">詳細內容</a>
                                                <a asp-action="Delete" asp-route-id="@item.CakeId" class="btn btn-danger btn-sm">刪除</a>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ShopId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CakeStyles)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CakeName)
                                            </td>
                                            <td>
                                                <img src="~/cakesImg/@item.CakeImg" alt="Cake Image" width="100" height="100"/>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CakeDescription)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CakePrice)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CakeStatus)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CakeStock)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CakeAnnotation)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AllergenInfo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CakeContent)
                                            </td>
                                            
                                        </tr>
                                    }
                                </tbody>
                            </table>



                        </div>
                    </div>
                    <!-- Table end -->
                </div>
                <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>
        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
</body>
</html>
